/*  = TIPOGRAFÍAS 
-------------------------------------------------------------------------------------------*/
@font-face {
    font-family:"pixel";
    src: url("../fonts/PressStart.ttf") ; }

@font-face {
    font-family:"neue";
    src: url("../fonts/Neue.ttf") ; }

@font-face {
    font-family:"cultive";
    src: url("../fonts/Cultive.ttf") ; }

@font-face {
    font-family:"bungee";
    src: url("../fonts/Bungee.ttf") ; }   

@font-face {
    font-family:"normal_amatic";
    src: url("../fonts/Amatic/AmaticRegular.ttf") ; } 

@font-face {
    font-family:"bold_amatic";
    src: url("../fonts/Amatic/AmaticBold.ttf") ; }  
    
@font-face {
    font-family:"bangers";
    src: url("../fonts/Bangers.ttf") ; }    


/*  =GENERAL
--------------------------------------------------------------------------------------*/
body{
  width: 100%;
  height: 100%;
}
nav{
  height: 75px;
  font-family: "bangers", Arial, Helvetica, sans-serif;
  font-size: 3vw;
  justify-content: between-around;
}

#nav{
  background: #FFCB1E;
}     

/*===LETRAS===*/
#classic{
  position: absolute;
  top: 4%;
  font-family: "pixel", Arial, Helvetica, sans-serif;
  font-size: 64px;
  text-align: center;
  animation: mover 10s ease-in-out infinite reverse;
  color: black;
}
@keyframes mover{
  0%{
     color: black;
    transform: translate(800px)

  }
  25%{
    color: rgb(133, 19, 240);
    transform: translate(600px)

  }
  50%{
    color:rgb(202, 155, 2);
    transform: translate(400px)

  }
  75%{
    color: rgb(0, 4, 255);
    transform: translate(200px)
  }
  100%{
    color: black;
    transform: translate(100px)
  }

}
/*===MODAL==*/
.modalText{
  position: relative;
  width: 200px;
  left: 130px;
  top: -70px
  
}
.modal-fade{
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#botonPaleta{
  color: black;
}
/*===ELEMENTOS===*/
#container{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #A72FED;
    height: 600px;

}

#escaleras-fondo{
  position: absolute;
  width: 646px;
  height: 389px;
  left: 2%;
  top: 50%;

    /* background-image: url(./img/HArry.jpg); */
}
.card-img-top:hover{
  opacity: 0.5;
  cursor: pointer;
}
.card-img-top{ 
  width: 500px;
  height: 300px;
  text-align: center;
}
#serpientesCardAzul{
  display: block;
}
.serpientes{
  width: 500px;
  height: 300px;
  border: solid 1px black;
}
.memorama{
  width: 500px;
  height: 300px;
  border: solid 1px black;
}
#Memorama{
  position: relative;
  left: 15%;
  background-image: url("./statics/img/Memorama.png");
}
.card-text{
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #A72FED;
}

#harry{
  position: relative;
  left: 10%;
  background-image: url("./statics/img/Harry.jpg");
}
#classic{
  position: relative;
  left: -30%;
}
#div_juegos{
  position: relative;
  top: 50px;
  left: 200px;
}

#listaDeJuegos{
  position: relative;
   font-family: "neue", Arial, Helvetica, sans-serif;
   font-size: 36px;
  left: 45%;
  top: 7%;
}
#boton-jugar1{
  position: absolute;
  width: 263px;
  height: 70px;
  left: 10%;
  top: 80%;

  background-color: #3E3AFF;
}

#memorama-fondo{
  position: absolute;
  width: 646px;
  height: 389px;
  left: 55%;
  top: 50%;

  background: #7204A0;
}
.paleta{
  border: 0;
  border-radius: 25%;
  width: 100px;
  height: 100px;
}
.paleta:hover{
  opacity: 0.5;
  cursor: pointer;
}
.btn{
  z-index:2;
  transition-delay: 0.5s;
  position: absolute;
  left: 80%;
  bottom: 90.5%;
   width: 190px;
   height: 50px;
}

#botonPaleta{
  color:rgb(255, 255, 255);
  background-color: rgb(166, 88, 180);
  box-shadow: 5px 5px  rgb(82, 79, 238);
  border-radius: 30px;
   font-family: "bold_amatic", Arial, Helvetica, sans-serif;
  font-size: 2vw;
}
#botonPaleta:hover{
  outline: none;
  color: rgb(255, 255, 255);
  background: #7204A0;
  transform: scale(1.2);
  cursor:pointer;
}

/*==FOOTER==*/
#foo{
  position: relative;
  top: 33%;
  width: 100%;
  height: 38px;
  background-color: #FFD601;
}

/*CREDITOS*/
#nos{
  position: relative;
  top: 2%;
  font-family: "bungee", Arial, Helvetica, sans-serif;
  font-size: 8vw;
  color:#7204A0;
  text-align: center;
}

#recuadro1 {
  position: relative;
    text-align:center;
    font-family: "neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    background: linear-gradient(180deg, #FAEB77 0%, rgba(250, 235, 119, 0.26) 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 23%;
    height: 60%;
    top: 5%;
    left: 1%;
}

#recuadro2 {
  position: relative;
    text-align:center;
    font-family: "neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    background: linear-gradient(180deg, #FAEB77 0%, rgba(250, 235, 119, 0.26) 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 23%;
    height: 60%;
    bottom: 55%;
    left: 26%;
}

#recuadro3 {
  position: relative;
    text-align:center;
    font-family: "neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    background: linear-gradient(180deg, #FAEB77 0%, rgba(250, 235, 119, 0.26) 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 23%;
    height: 60%;
    bottom: 115%;
    left: 51%;
}

#recuadro4 {
  position: relative;
    text-align:center;
    font-family: "neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 15px;
    background: linear-gradient(180deg, #FAEB77 0%, rgba(250, 235, 119, 0.26) 100%);
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 23%;
    height: 60%;
    bottom: 175%;
    left: 76%;
}

/*==BOTON_VOLVER==*/
#volver{
  position: absolute;
  left: 1%;
  top: 1%;
  transition-delay: 0.5s;
  background-color: rgb(167, 191, 212);
  width: 15%;
  border-radius: 35px;
  font-family: "bold_amatic", Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
  text-align: center;
}
#volver:hover{
  outline: none;
  color: rgb(255, 255, 255);
  background: rgb(60, 84, 190);
  transform: scale(1.1);
  cursor:pointer;
}
/*==========PACMAN=========*/

.fondo{
    z-index: 1;
    background-color: #6505A6;
    width: 100%;
    height:160px;
    box-shadow: 0 0 15px 10px rgba(255, 0, 149, 0.5);
}
.cuerpo {
    animation: comer 10s infinite linear;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  } 
  .comer {
    position: absolute;
    top: 30px;
    left: -55px;
    width:1px;
    height:1px;
    border-right:55px solid transparent;
    border-top:55px solid #FFD601;
    border-left:55px solid #FFD601;
    border-bottom:55px solid #FFD601;
    border-radius: 55px;
    z-index: 3;
  
  }
  .comer:after {
    background: rgb(0, 0, 0);
    border-radius: 50%;
    content: "";
    height: 20px;
    left: -10px;
    position: absolute;
    top: -40px;
    width: 20px;
    z-index: 4;
  }
  .comer:before {
    border-color: #FFD601 transparent #FFD601 #FFD601;
    border-radius: 55px 55px 55px 55px;
    border-right: 55px solid transparent;
    border-style: solid;
    border-width: 55px;
    content: "";
    height: 1px;
    left: -55px;
    position: absolute;
    top: -55px;
    width: 1px;
    z-index: -1;
    animation: boca .9s infinite linear; 
  }
 
  .moneda span {
    z-index: 2;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #fff;
    margin: 45px 4%;    
  }

  .monedas {
    z-index: 3;  
    position: absolute;
    bottom: 50%;
    background: #6505A6;
    width:98%;
    height: 40px;
    animation: monedas 10s infinite linear;
  }
  
   
  @keyframes monedas { 
    0% { left: -12%; width:0%;}
    100% { left: 0%; width:100%}
  }
  

  @keyframes comer { 
    0% { left: -20%;}
    100% { left: 100%;}
  }

  
  @keyframes boca { 
    0%  { transform: rotate(0deg); }
    20% { transform: rotate(-35deg); }
    30% { transform: rotate(-52deg); }
    40% { transform: rotate(-70deg); }
    50% { transform: rotate(-90deg); } 
    60% { transform: rotate(-70deg); }
    70% { transform: rotate(-52deg); }
    80% { transform: rotate(-35deg); }
    100% { transform: rotate(0deg); }
  }
/*=========== Posición Pakman ========*/
.acomodo{
    position: relative;
    top: 15%;
    width:100%;
} 
/*====BREAKOUT===*/

@media screen and (max-width:800px) {
  .btn{
    position: absolute;
    left: 40%;
    width: 120px;
    height: 50px;
    bottom: -440px;
  }
  #container{
    height: 1200px;
  }
  #botonPaleta{
    font-size: 2.7vw;
  }
  #listaDeJuegos{
    left: 40%
  }
  #div_juegos{
    flex-direction: column;
    top: 110px;
    left: 20%;
  }
  #classic{
    font-size: 30px;
  }
  @keyframes mover{
    0%{
      color: black;
      transform: translate(500px)

    }
    25%{
      color: rgb(133, 19, 240);
      transform: translate(400px)

    }
    50%{
      color:rgb(202, 155, 2);
      transform: translate(300px)

    }
    75%{
      color: rgb(0, 4, 255);
      transform: translate(200px)
    }
    100%{
      color: black;
      transform: translate(100px)
    }
  }

}
  /*  =MODAL
  ----------------------------------------------------*/

  #labelUsuario{
    position: relative;
    left: 150px;
  }
  
  #nombreUsario{
    background-color: paleturquoise;
  }
  #enviar{
  color:rgb(255, 255, 255);
  background-color: rgb(166, 88, 180);
  box-shadow: 5px 5px  rgb(82, 79, 238);
  border-radius: 30px;
  font-family: "bold_amatic", Arial, Helvetica, sans-serif;
  font-size: 3vw;
}

#enviar:hover{
  outline: none;
  color: rgb(255, 255, 255);
  background: #7204A0;
  transform: scale(1.2);
  cursor:pointer;
}