<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créditos</title>
  <link href="../statics/styles/style.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">
  <link rel="icon" href="../statics/img/cre.png">

</head>
  <body>
    <div class="container-fluid" id="container"> 
      
      <h1 id="nos">Nosotros</h1>
      <div id="volver" tabindex="1"><p>Volver</p></div>
     
      <div id="recuadro1">
      <h2>Fabian</h2>
      <p>sdfcersdxfcedsxe</p>
        </div>

        <div id="recuadro2">
      <h2>Luna</h2>
       </div>

      <div id="recuadro3">
      <h2>Ela</h2>
       </div>

      <div id="recuadro4">
      <h2>Falcón</h2>
       </div>
      
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>     
    <script src="../dynamics/js/creditos.js"></script>
  </body>
</html>