<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Créditos</title>
  <link href="../statics/styles/style.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	 crossorigin="anonymous">
  <link rel="icon" href="../statics/img/break_mora.jpg">

</head>
  <body>
    <div class="container-fluid" id="container"> 
      
      <h1 id="nos">Nosotros</h1>
      <div id="volver" tabindex="1"><p>Volver</p></div>
     
      <div id="recuadro1">
        <h2>Fabian</h2>
        <div id="Fabian">
          <img src="../statics/img/faguario.jpg" alt="faguario" height="80px">
          <p>-Planeación del proyecto. <br>-Elaboracion del maquetado y funcionamiento general. <br>-Funcionamiento Breakout. <br>-Elaboración de material visual (previsualización juegos, tablero Harry Potter, instrucciones,etc) </p>
        </div>
      </div>

      <div id="recuadro2">
        <h2>Luna</h2>
        <div id="Luna">
          <img src="../statics/img/luna.jpg" alt="foto Luna" height="80px"> 
          <p>-Planeación del proyecto. <br> -Parte del diseño,  funcionamiento de Serpientes y escaleras <br> -Parte de diseño y poco de js Breakout <br> -Audio y una tipografia de Serp. y escaleras <br> -Parte de vistas adaptables v.1</p>
        </div>
      </div>

      <div id="recuadro3">
      <h2>Ela</h2>
      <img src ="../statics/img/ELA.jpg" atl=" foto de Ela" id= "pic_Ela" height="80px">
      <div id="Ela"><p>-Planeación del proyecto. <br>-Elaboración de Wirframes en Figma.  <br> -Animación de la página principal. <br> -Recopilación de audios. <br> -Botones y Transiciones. <br> -Tipografías del proyecto. <br> -Justificaciones.  </p></div>
       </div>

      <div id="recuadro4">
      <h2>Falcón</h2>
      <img src="../statics/img/falconFoto.jpeg" alt="Foto de Falcón :D" id="pic_Falcon" height="80px">
      <div id="Falcon"><p>-Planeación del proyecto.<br>-Elaboracion del maquetado y funcionamiento general. <br> -Parte del diseño y funcionamiento de Breakout <br>-Vistas adaptables <br>-Ajustes de la página en general- <br>-Operabilidad con teclado Lol
       </p></div>
      </div>
      
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>     
    <script src="../dynamics/js/creditos.js"></script>
  </body>
</html>